/*-----variables----*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bebas+Neue&family=Bricolage+Grotesque&display=swap");
.Nosotros h2, .servicios h2, .productos h2, .frutas .contactanos h2 {
  text-align: center;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 100px; }

/*!-------reset---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Barlow', sans-serif !important;
  font-size: large;
  background-color: #212b57 !important;
  margin-top: 0; }

/*!-------bootstrap-nav---------*/
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3; }

header img {
  width: 150px;
  height: 150px;
  margin: 5px; }

header nav {
  width: 100%;
  display: flex; }

header nav img {
  height: 125px;
  width: 125px; }

header nav ul {
  display: flex; }

header nav ul li {
  margin: 5px;
  border: solid 1px #c914ab;
  padding: 2px;
  color: #c914ab;
  font-size: 20px;
  font-weight: bolder; }

header nav ul li:hover {
  background-color: white; }

header nav form .boton {
  color: #c914ab;
  border-color: #c914ab;
  font-weight: bolder; }

header nav form .boton:hover {
  background-color: white;
  font-weight: bolder; }

nav .container-fluid button {
  background-color: black; }

.litem a {
  color: #c914ab; }

/*!-------bootstrap-carousel---------*/
.carousel {
  margin: 3px; }

.carousel-item {
  border: 2px solid black;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; }

.carousel img {
  height: 480px;
  object-fit: contain; }

.carousel h3 {
  color: white;
  background-color: black;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-weight: bolder; }

.carousel p {
  color: white;
  background-color: black;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0; }

.carousel div button span {
  background-color: black;
  height: 50px; }

.terminosycond .accordion-item button {
  color: white;
  font-weight: bolder;
  font-size: large;
  border: white 1px solid;
  margin: 0;
  background-color: black; }

.terminosycond .accordion-item button:hover {
  border-color: #c914ab; }

.terminosycond .accordion-body {
  background-color: black;
  border: 1px white solid; }

.terminosycond .accordion-body ul li {
  font-size: larger;
  color: white;
  font-weight: bolder;
  background-color: black; }

/*-----index----*/
.hero {
  height: 80vh;
  text-align: center;
  background-image: url("../img/logoyfondo/mancuernas.jpg");
  color: white;
  background-size: cover;
  object-fit: cover; }
  .hero h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.562);
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black; }

.mensaje {
  color: white;
  font-size: xx-large;
  background-color: black;
  text-align: center; }
  .mensaje h3 {
    font-size: xx-large;
    font-weight: bolder; }
  .mensaje p {
    margin-top: 20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black; }

.noticias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  margin-top: 20px;
  margin: 20px; }
  .noticias p {
    width: 100%;
    color: white;
    font-size: xx-large;
    font-weight: bolder; }
  .noticias div {
    color: white;
    width: 300px;
    height: 400px;
    border: solid;
    color: black;
    margin-bottom: 30px;
    box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
    transition-duration: 2s; }
    .noticias div:hover {
      transform: scale(1.2) !important;
      z-index: 2; }
    .noticias div a img {
      width: 100%;
      height: 60%; }
    .noticias div h3 {
      color: white;
      background-color: black;
      text-align: center;
      font-weight: bold;
      font-size: x-large; }
    .noticias div p {
      color: white;
      text-align: center;
      font-size: large;
      padding: 3px; }

.iconows a i {
  position: fixed;
  right: 50px;
  bottom: 125px;
  font-size: 60px;
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  z-index: 5; }
  .iconows a i:hover {
    color: #c914ab; }

/*!-------Nosotros---------*/
.Nosotros {
  height: 80vh;
  text-align: center;
  background-image: url("../img/musculacion8.jpg");
  color: white;
  background-size: cover; }
  .Nosotros h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.267);
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black; }
  .Nosotros p {
    color: white;
    font-size: xx-large;
    margin: 10px; }

.acerca {
  color: white;
  font-size: xx-large;
  background-color: black; }
  .acerca h3 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center; }
  .acerca ul li {
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black; }

.staff p {
  width: 100%;
  color: white;
  font-size: xx-large;
  padding: 15px;
  font-weight: bolder; }

.grid-container {
  width: 95%;
  margin: 5px;
  gap: 18px;
  object-fit: cover;
  display: grid;
  justify-items: center;
  grid-auto-rows: 300px 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr; }
  .grid-container .grid-items {
    border: solid 3px black;
    font-size: x-large;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    background-color: black;
    box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75); }
    .grid-container .grid-items img {
      width: 100%;
      height: 80%; }
  .grid-container h3 {
    color: white;
    font-weight: bold; }
  .grid-container .profefuncional {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%; }
    .grid-container .profefuncional img {
      height: 92%; }
    .grid-container .profefuncional h3 {
      color: white;
      font-weight: bold; }

/*!-------servicios---------*/
.servicios h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.562);
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black; }

.servicios p {
  color: white;
  font-size: x-large;
  font-weight: bold;
  background-color: black;
  text-align: center; }

/*!-------productos---------*/
.productos h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.562);
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black; }

.productos p {
  color: white;
  font-size: x-large;
  font-weight: bold;
  background-color: black;
  text-align: center; }

.tarjetasdeproductos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px;
  gap: 20px;
  justify-content: space-between; }
  .tarjetasdeproductos div {
    color: white 255, 255, 255;
    width: 300px;
    height: 370px;
    border: solid;
    color: black;
    margin-bottom: 30px;
    background-color: white;
    transition-duration: 0.5s; }
    .tarjetasdeproductos div:hover {
      transform: scale(1.2); }
    .tarjetasdeproductos div img {
      width: 100%;
      height: 75%; }
    .tarjetasdeproductos div h3 {
      color: white;
      background-color: black;
      margin-bottom: 10px;
      font-size: x-large;
      font-weight: bold;
      margin-bottom: 0; }
  .tarjetasdeproductos p {
    color: white;
    background-color: black;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 4px; }
  .tarjetasdeproductos a {
    text-decoration: none;
    color: black;
    font-size: large;
    padding: 3px;
    font-weight: bold; }
    .tarjetasdeproductos a:hover {
      color: #c914ab;
      font-weight: bolder; }
    .tarjetasdeproductos a:active {
      background-color: white;
      color: #c914ab;
      font-weight: bolder; }

/*!-------contacto---------*/
.frutas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253)), url("../img/fondo10.jpg"); }
  .frutas .contactanos h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
    margin-bottom: 0; }
  .frutas .contactanos p {
    color: white;
    font-size: xx-large;
    background-color: black;
    text-align: center;
    font-weight: bolder; }
  .frutas .formulario {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column; }
    .frutas .formulario div {
      display: flex;
      border: 3px black solid;
      padding: 5px;
      width: 70%;
      margin: 20px; }
      .frutas .formulario div label {
        color: white;
        font-size: large;
        font-weight: bold;
        width: 20%;
        background-color: black; }
      .frutas .formulario div input {
        width: 90%;
        font-weight: bold; }
      .frutas .formulario div textarea {
        width: 90%;
        font-weight: bold; }
    .frutas .formulario .enviar {
      text-align: center;
      align-items: center;
      width: 30%; }
      .frutas .formulario .enviar input {
        width: 100%;
        font-weight: bolder;
        background-color: black;
        color: white; }
        .frutas .formulario .enviar input:hover {
          background-color: white;
          color: black;
          font-weight: bold; }
        .frutas .formulario .enviar input:active {
          background-color: #c914ab; }
  .frutas .infocontacto div h3 {
    color: white;
    background-color: black;
    margin-bottom: 10px;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0; }
  .frutas .infocontacto div ul {
    background-color: rgba(0, 0, 0, 0.219);
    margin-bottom: 0; }
    .frutas .infocontacto div ul li {
      color: white;
      font-size: x-large;
      font-weight: bold;
      text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black; }
  .frutas .mapa {
    display: flex;
    flex-direction: column; }
    .frutas .mapa p {
      color: white;
      font-size: xx-large;
      background-color: black;
      text-align: center;
      margin-bottom: 0;
      font-weight: bolder; }
    .frutas .mapa iframe {
      width: 100%;
      height: 200px; }

footer {
  background-color: black;
  background-size: cover;
  background-attachment: fixed; }
  footer .pie {
    display: flex;
    justify-content: space-between; }
    footer .pie .logofooter img {
      height: 150px;
      width: 150px; }
    footer .pie .redes {
      font-size: medium;
      color: #c914ab;
      text-align: center;
      font-weight: bold; }
      footer .pie .redes h3 {
        font-weight: bold; }
      footer .pie .redes a i {
        color: #c914ab;
        font-size: 50px;
        margin-left: 20px; }

/*!-------index mq---------*/
@media screen and (max-width: 980px) {
  .noticias {
    display: flex;
    justify-content: space-around; } }

@media screen and (max-width: 992px) {
  nav .container-fluid button {
    border-color: #c914ab;
    border-width: 2px; }
  nav .container-fluid button :active {
    background-color: white; }
  header nav form .boton {
    color: black;
    border-color: #c914ab;
    font-weight: bolder; }
  nav .container-fluid button {
    background-color: #c914ab; } }

@media screen and (max-width: 850px) {
  .mensaje .familia {
    font-size: medium;
    font-size: 10px; }
  main .iconows {
    display: none; } }

@media screen and (max-width: 750px) {
  main .hero h1 {
    font-size: 50px; }
  main .mensaje p {
    font-size: medium; }
  footer .redes h3 {
    font-size: medium;
    margin-top: 10px; }
  footer .redes p {
    display: none; }
  footer .redes i {
    font-size: 25px;
    margin-right: 15px; } }

@media screen and (max-width: 800px) {
  .terminosycond .accordion-body ul li {
    font-size: medium; } }

@media screen and (max-width: 550px) {
  .terminosycond .accordion-body ul li {
    font-size: small; } }

/*!-------index---------*/
@media screen and (max-width: 660px) {
  main .noticias {
    display: flex;
    justify-content: space-around; }
  main .hero {
    background-position: center; } }

@media screen and (max-width: 440px) {
  main .mensaje h3 {
    font-size: larger; }
  main .noticias p {
    font-size: medium; }
  footer .pie .logofooter img {
    height: 100px;
    width: 100px;
    margin-top: 5px; }
  footer .pie .redes a i {
    font-size: 40px;
    margin-right: 10px; } }

/*!-------Nosotros---------*/
@media screen and (max-width: 991px) {
  .Nosotros p {
    font-size: medium;
    text-align: left; }
  .grid-container {
    grid-auto-rows: 300px 300px;
    grid-template-columns: 1fr 1fr; }
  .grid-container .profefuncional {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover; }
  .grid-container .profefuncional img {
    height: 80%; } }

@media screen and (max-width: 800px) {
  main .acerca h3 {
    font-size: x-large; }
  main .acerca ul li {
    font-size: large; }
  main .staff p {
    font-size: x-large;
    text-align: center; } }

@media screen and (max-width: 600px) {
  .Nosotros h2 {
    font-size: 50px; }
  main .acerca h3 {
    font-size: large; }
  main .acerca ul li {
    font-size: medium; }
  main .staff p {
    font-size: large; } }

@media screen and (max-width: 550px) {
  .grid-container {
    grid-auto-rows: 300px;
    grid-template-columns: 1fr; }
  .grid-container .profefuncional {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover; } }

/*!-------servicios---------*/
@media screen and (max-width: 740px) {
  .carousel img {
    object-fit: cover; } }

@media screen and (max-width: 600px) {
  .Nosotros {
    background-image: url("../img/musculacion6.jpg");
    background-position: center;
    object-fit: cover; } }

@media screen and (max-width: 550px) {
  main .servicios h2 {
    font-size: 50px; }
  .servicios p {
    font-size: large; }
  .carousel p {
    font-size: medium; }
  .carousel img {
    object-fit: cover; } }

/*!-------productos---------*/
@media screen and (max-width: 980px) {
  .tarjetasdeproductos {
    justify-content: space-around; } }

@media screen and (max-width: 650px) {
  .productos h2 {
    font-size: 50px; }
  .productos p {
    font-size: large; } }

/*!-------contacto---------*/
@media screen and (max-width: 600px) {
  .frutas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253)), url("../img/fondo11.jpg"); }
  .frutas .contactanos h2 {
    font-size: 50px; }
  .frutas .contactanos p {
    font-size: large;
    text-align: center; }
  .frutas .infocontacto div h3 {
    font-size: large; }
  .frutas .infocontacto div ul .datos {
    font-size: medium; }
  .frutas .mapa p {
    font-size: large;
    text-align: center; } }

@media screen and (max-width: 520px) {
  .frutas .formulario div {
    width: 90%; } }

@media screen and (max-width: 450px) {
  .frutas .formulario div input {
    width: 80%; }
  .frutas .formulario div label {
    color: white;
    font-size: large;
    width: 30%; } }
