@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bebas+Neue&family=Bricolage+Grotesque&display=swap');

/*!-------reset---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif !important;
    font-size: large;
    background-color: rgb(1, 41, 1) !important;
}

/*!-------bootstrap-nav---------*/

header{
    background-color:$color-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

header img {
    width: 150px;
    height: 150px;
    margin: 5px;
}

header nav {
    width: 100%;
    display: flex;
}

header nav img {
    height: 125px;
    width: 125px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 5px;
    border: solid 1px $color-secundario;
    padding: 2px;
    color: $color-secundario;
    font-size: 20px;
    font-weight: bolder;
}

header nav ul li:hover{
    background-color: $color-terciario;
}

header nav form .boton{
    color: $color-secundario;
    border-color: $color-secundario;
    font-weight: bolder;
}

header nav form .boton:hover{
    background-color: $color-terciario;
    font-weight: bolder;
}


nav .container-fluid button{
    background-color: $color-principal;
}

.litem a {
    color: $color-secundario;
}


/*!-------bootstrap-carousel---------*/

.carousel {
    margin: 3px;
}

.carousel-item {
    border: 2px solid $color-principal;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.carousel img {
    height: 480px;
    object-fit: contain;
}

.carousel h3 {
    color: $color-terciario;
    background-color: $color-principal;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-weight: bolder;
}

.carousel p {
    color: $color-terciario;
    background-color: $color-principal;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}