/*-----index----*/

.hero{
    height: 80vh;
    text-align: center;
    background-image:url("../img/logoyfondo/mancuernas.jpg");
    color: $color-terciario;
    background-size: cover;
    object-fit: cover;
    h1{
        font-family: 'Bricolage Grotesque', sans-serif;
        font-size: 100px;
        background-color: rgba(0, 0, 0, 0.562);
        text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
    }
}
.mensaje{
    color: $color-terciario;
    font-size: nth($font-size, 5);
    background-color: $color-principal;
    text-align: center;
    h3{
        font-size: nth($font-size, 5);
        font-weight: bolder;   
    }
    p{
        margin-top: 20px;
        color:$color-terciario;
        font-size: nth($font-size, 4);
        font-weight: bold;
        text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
        
    }
}
.noticias{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-top: 20px;
    margin: 20px;
    p{    
        width: 100%;
        color: $color-terciario;
        font-size: nth($font-size, 5);
        font-weight: bolder;
    }
    div{
        color: $color-terciario;
        width: 300px;
        height: 400px;
        border: solid;
        color: $color-principal;
        margin-bottom: 30px;
        box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
        transition-duration: 2s;
        &:hover{
            transform: scale(1.2) !important;
            z-index: 2;
        }
        a{
            img{
                width: 100%;
                height: 60%;
            }
        }
        h3{
            color: $color-terciario;
            background-color: $color-principal;
            text-align: center;
            font-weight: bold;
            font-size: nth($font-size, 4);
        }
        p{
            color: white;
            text-align: center;
            font-size: nth($font-size, 3);
            padding: 3px;
        }
    }
}

.iconows{
    a{
        i{
            position: fixed;
            right: 50px;
            bottom: 125px;
            font-size: 60px;
            color: $color-terciario;
            text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
            z-index: 5;
            &:hover{
                color: $color-secundario;
            }

        }
    }
}

/*!-------Nosotros---------*/

.Nosotros{
    height: 80vh;
    text-align: center;
    background-image: url("../img/musculacion8.jpg");
    color: $color-terciario;
    background-size: cover;
    h2{
        color: $color-terciario;
        background-color: rgba(0, 0, 0, 0.267);
        text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
        @extend %titulos
    }
    p{
        color: $color-terciario;
        font-size: nth($font-size, 5);
        margin: 10px;
    }
}

.acerca{
    color: $color-terciario;
    font-size: nth($font-size, 5);
    background-color: $color-principal;
    h3{
        font-size: nth($font-size, 5);
        font-weight: bolder;
        text-align: center;
        
    }
    ul{
        li{
            color:$color-terciario;
            font-size: nth($font-size, 4);
            font-weight: bold;
            text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
        }
    }
}

.staff{
    p{
        width: 100%;
        color: $color-terciario;
        font-size: nth($font-size, 5); 
        padding: 15px;
        font-weight: bolder;
    }
}

.grid-container{
    width: 95%;
    margin: 5px;
    gap: 18px;
    object-fit: cover;
    display: grid;
    justify-items: center;
    grid-auto-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    .grid-items{
        border: solid 3px $color-principal;
        font-size: nth($font-size, 4);
        text-align: center;
        margin: 10px;
        box-sizing: border-box;
        background-color: $color-principal;
        box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 69px -8px rgba(0, 0, 0, 0.75);
        img{
            width: 100%;
            height: 80%;
        }
        }
        h3{
            color: $color-terciario;
            font-weight: bold;
        }
        .profefuncional{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 100%;
        img{
            height: 92%;
        }
        h3{
            color: $color-terciario;
            font-weight: bold;
        }
    }
}

/*!-------servicios---------*/

.servicios{
    h2{
        color: $color-terciario;
        background-color: rgba(0, 0, 0, 0.562);
        text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
        @extend %titulos
    }
    p{
        color:$color-terciario;
        font-size: nth($font-size, 4);
        font-weight: bold;
        background-color: $color-principal;
        text-align:center;
    }
}

/*!-------productos---------*/
.productos{
    h2{
        color: $color-terciario;
        background-color: rgba(0, 0, 0, 0.562);
        text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
        @extend %titulos
    }
    p{
        color:$color-terciario;
        font-size: nth($font-size, 4);
        font-weight: bold;
        background-color: $color-principal;
        text-align:center;
        }
    }

.tarjetasdeproductos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    gap: 20px;
    justify-content: space-between;
    div{
        color: $color-terciario(255, 255, 255);
        width: 300px;
        height: 370px;
        border: solid;
        color: $color-principal;
        margin-bottom: 30px;
        background-color: $color-terciario;
        transition-duration: 0.5s;
        &:hover{
            transform: scale(1.2);
        }
        img{
            width: 100%;
            height: 75%;
        }
        h3{
            color:$color-terciario;
            background-color:$color-principal;
            margin-bottom: 10px;
            font-size: nth($font-size, 4);
            font-weight: bold;
            margin-bottom: 0;
        }
        }
        p{
            color:$color-terciario;
            background-color:$color-principal;
            margin-bottom: 10px;
            font-size: nth($font-size, 3);
            font-weight: bolder;
            margin-bottom: 4px;
        }
        a{
            text-decoration: none;
            color:$color-principal;
            font-size: nth($font-size, 3);
            padding: 3px;
            font-weight: bold;
            &:hover{
                color: $color-secundario;
                font-weight: bolder;
            }
            &:active{
                background-color: $color-terciario;
                color:$color-secundario;
                font-weight: bolder;
                }
        }
    }


/*!-------contacto---------*/

.frutas{
    background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253)), url("../img/fondo10.jpg");
    .contactanos{
        h2{
            color:$color-terciario;
            background-color: rgba(0, 0, 0, 0.562);
            text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
            margin-bottom: 0;
            @extend %titulos
        }

        p{
            color: $color-terciario;
            font-size: nth($font-size, 5);
            background-color: $color-principal;
            text-align: center;
            font-weight: bolder;
        }
    }
    .formulario{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        form{
        }
        div{    
            display: flex;
            border: 3px $color-principal solid;
            padding: 5px;
            width: 70%;
            margin: 20px;
            label{
                color: $color-terciario;
                font-size: nth($font-size, 3);
                font-weight: bold;
                width: 20%;
                background-color: black;
            }
            input{
                width: 90%;
                font-weight: bold;
            }
            textarea{
                    width: 90%;
                    font-weight: bold;
            }
        }
        .enviar{
            text-align: center;
            align-items: center;
            width: 30%;
            input{
                width: 100%;
                font-weight: bolder;
                background-color: $color-principal;
                color: $color-terciario;
                &:hover{
                    background-color: $color-terciario;
                    color: $color-principal;
                    font-weight: bold;
                }
                &:active{
                    background-color: $color-secundario;
                }

            }
        }
    }

    .infocontacto{
        div{
            h3{
                color:$color-terciario;
                background-color: $color-principal;
                margin-bottom: 10px;
                font-size: nth($font-size, 5);
                text-align: center;
                font-weight: bolder;
                margin-bottom: 0;
            }
            ul{
                background-color: rgba(0, 0, 0, 0.219);
                margin-bottom: 0;
                li{
                    color:$color-terciario;
                    font-size: nth($font-size, 4);
                    font-weight: bold;
                    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
                }
            }
        }
    }
    .mapa{
        display: flex;
        flex-direction: column;
        p{
            color: $color-terciario;
            font-size: nth($font-size, 5);
            background-color:$color-principal; 
            text-align: center;
            margin-bottom: 0;
            font-weight: bolder;
        }
        iframe{
            width: 100%;
            height: 200px;
        }
    }
}